body {
  font-family: 'Roboto', sans-serif;
  font-weight: 1;
}

.jumbotron{
  background-image: url(https://github.com/jberg5/jberg5.github.io/blob/master/fixed%20climb.jpg?raw=true);
  background-size: cover;
  min-height: 800px;

}

.container{
  color: rgb(255,255,255);
  display: block;
  height: 100%;
  padding: 25px;
  text-align: left;
}

a {
  color: inherit;
}

a:hover {
  color: rgb(64, 69, 79);
}

.box {
  background: blue;
  opacity: .5;
  height: 100%;
  width: 50%;
  position: left;
}
