body {
  font-family: 'Muli', sans-serif;
  font-weight: 100;
}

.jumbotron{
  background-image: url(https://github.com/jberg5/jberg5.github.io/blob/master/landscape.jpg?raw=true);
  background-size: auto;
  display: flex;
  height: auto

}

.container{
  color: rgb(255,255,255);
  display: inline-flex;
  height: 100%;
  padding: 25px;
}

.row{
  align-items: center;
  display: inline-flex;
  height: 100%
}

.row-text-center{
  align-items: center;
  display: inline-flex;
  height: 100%
}

.icon{
  height: 100px;
  width: 100px;
  padding: 10px;
}
